<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">

    <!-- https://github.com/alibaba/spring-cloud-alibaba/issues/3261 -->

    <springProperty scope="context" name="project-name" source="spring.application.name"/>

    <property name="log.debug.path"
              value="/data/logs/${project-name}/debug.log"/>

    <property name="log.error.path"
              value="/data/logs/${project-name}/error.log"/>

    <conversionRule conversionWord="ip" converterClass="com.thy.backend.parent.framework.log.IpAddressConverter"/>


    <!-- 控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-8.8thread] %-5level %-60logger{60} : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- debug日志文件输出 -->
    <appender name="debugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.debug.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.debug.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.mdc.TraceIdMDCPatternLogbackLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${project-name}] [%ip] [%X{tid}] [%thread] [%-5level] %logger{36} : %msg%n
                </pattern>
            </layout>
        </encoder>
    </appender>

    <!-- error日志文件输出 -->
    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.error.path}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.error.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.mdc.TraceIdMDCPatternLogbackLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${project-name}] [%ip] [%X{tid}] [%thread] [%-5level] %logger{36} [%file:%line] : %msg%n
                </pattern>
            </layout>
        </encoder>
    </appender>


    <!-- 传输到skywalking -->
    <appender name="skywalking-log" class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.log.GRPCLogClientAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.mdc.TraceIdMDCPatternLogbackLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${project-name}] [%ip] [%X{tid}] [%thread] [%-5level] %logger{36} -%msg%n
                </pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="org.apache" level="info"/>
    <logger name="org.apache.commons" level="info"/>
    <logger name="org.springframework" level="info"/>
    <logger name="com.thy.backend.user.service.user.web.dao" level="debug"/>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="debugFile"/>
        <appender-ref ref="errorFile"/>
        <appender-ref ref="skywalking-log"/>
    </root>

</configuration>